# Automatic certificate issuance and renewal is provided by Caddy.
# Reference: https://caddyserver.com/docs/automatic-https
# Azure DNS points at the VM. Caddy obtains and renews the TLS certificate.
{$KIBANA_HOSTNAME} {
	handle /ingest {
		reverse_proxy logstash:8080
	}

	handle {
		reverse_proxy kibana:5601
	}
}
